__pycache__/
_pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/
*.db
.env
recipe_app/routes/__pycache__/*
recipe_app/models/__pycache__/*
recipe_app/services/__pycache__/*
*.pyc
recipe_app/services/__pycache__/__init__.cpython-311.pyc
